<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <% if (kindOfDay === "sábado" || kindOfDay === "domingo") { %>
        <h1 style="color: purple"><%= salute%>, hoje é <%= kindOfDay %> !</h1>
    <% } else { %>
        <h1 style="color: blue"><%= salute%>, hoje é <%= kindOfDay %> !</h1>
    <% } %>
    <ul>
        <% for (let i = 0; i < newListItems.length; i++) { %>
            <li><%= newListItems[i]%></li>
        <% } %>
    </ul>
    <form action="/" method="post">
       <input type="text" name="newItem">
       <button type="submit" name="button">Adicionar</button>
    </form>
</body>
</html>